<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>Identifier</key>
			<string>productName</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___FULLUSERNAME___</string>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Organization Name:</string>
			<key>Identifier</key>
			<string>organizationName</string>
			<key>Description</key>
			<string>Your company&apos;s name</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CLANG_WARN_ENUM_CONVERSION</key>
			<string>YES</string>
			<key>GCC_WARN_UNDECLARED_SELECTOR</key>
			<string>YES</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES_ERROR</string>
			<key>CLANG_ENABLE_MODULES</key>
			<string>YES</string>
			<key>GCC_WARN_UNINITIALIZED_AUTOS</key>
			<string>YES_AGGRESSIVE</string>
			<key>CLANG_CXX_LANGUAGE_STANDARD</key>
			<string>gnu++0x</string>
			<key>CLANG_WARN_INT_CONVERSION</key>
			<string>YES</string>
			<key>CLANG_WARN_CONSTANT_CONVERSION</key>
			<string>YES</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>CLANG_WARN__DUPLICATE_METHOD_MATCH</key>
			<string>YES</string>
			<key>GCC_WARN_64_TO_32_BIT_CONVERSION</key>
			<string>YES</string>
			<key>CLANG_WARN_EMPTY_BODY</key>
			<string>YES</string>
			<key>ALWAYS_SEARCH_USER_PATHS</key>
			<string>NO</string>
			<key>CLANG_WARN_DIRECT_OBJC_ISA_USAGE</key>
			<string>YES_ERROR</string>
			<key>GCC_WARN_UNUSED_FUNCTION</key>
			<string>YES</string>
			<key>CLANG_WARN_BOOL_CONVERSION</key>
			<string>YES</string>
			<key>CLANG_ENABLE_OBJC_ARC</key>
			<string>YES</string>
			<key>CLANG_WARN_OBJC_ROOT_CLASS</key>
			<string>YES_ERROR</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>CLANG_CXX_LIBRARY</key>
			<string>libc++</string>
			<key>CLANG_WARN_UNREACHABLE_CODE</key>
			<string>YES</string>
			<key>ENABLE_STRICT_OBJC_MSGSEND</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Name</key>
	<string>JWBase</string>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Components</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
			<key>Identifier</key>
			<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>TargetIdentifier</key>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/SupportingFiles/Info.plist</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME</key>
				<string>LaunchImage</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
			</array>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Resouces/</key>
		<dict>
			<key>Path</key>
			<string>Resouces</string>
			<key>group</key>
			<array/>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resouces</string>
			</array>
			<key>Path</key>
			<string>Base.lproj/LaunchScreen.storyboard</string>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Base.lproj/Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Group</key>
			<array>
				<string>Resouces</string>
			</array>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>SupportingFiles</string>
			</array>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>*:imports:importCocoa</key>
		<string>#import &lt;UIKit/UIKit.h&gt;</string>
		<key>*:imports:importCocoaForUmbrellaHeader</key>
		<string>#import &lt;UIKit/UIKit.h&gt;</string>
		<key>SupportingFiles/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>SupportingFiles</string>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>SupportingFiles/Info.plist</string>
		</dict>
		<key>SupportingFiles/main.m</key>
		<dict>
			<key>Group</key>
			<string>SupportingFiles</string>
			<key>Path</key>
			<string>SupportingFiles/main.m</string>
		</dict>
		<key>AppDelegate/</key>
		<dict>
			<key>SortOrder</key>
			<string>1</string>
			<key>Path</key>
			<string>AppDelegate</string>
			<key>TargetIndices</key>
			<string></string>
			<key>group</key>
			<array/>
		</dict>
		<key>AppDelegate/AppDelegate.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.h</string>
			<key>Group</key>
			<string>AppDelegate</string>
		</dict>
		<key>AppDelegate/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>AppDelegate</string>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.m</string>
		</dict>
		<key>Images.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resouces</string>
			</array>
			<key>SortOrder</key>
			<integer>98</integer>
			<key>Path</key>
			<string>Images.xcassets</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>AppDelegate/AppDelegate.h</string>
		<string>AppDelegate/AppDelegate.m</string>
		<string>Base.lproj/LaunchScreen.storyboard</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>SupportingFiles/main.m</string>
		<string>SupportingFiles/Info.plist</string>
		<string>Images.xcassets</string>
	</array>
	<key>Identifier</key>
	<string>com.apple.dt.unit.JWBase</string>
	<key>Type</key>
	<string>popup</string>
</dict>
</plist>
