<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Name</key>
	<string>JWAppTree7.x</string>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Controllers/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Controllers</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>Controllers/Sections/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Sections</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>Models/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Models</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>Views/</key>
		<dict>
			<key>Group</key>
			<array/>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Views</string>
		</dict>
		<key>Helpers/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Helpers</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>General/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>General</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>General/Classes/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Classes</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>General/Categories/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Categories</string>
			<key>Group</key>
			<array/>
		</dict>
		<key>General/Protocols/</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Protocols</string>
			<key>Group</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Controllers/</string>
		<string>Controllers/Sections/</string>
		<string>Views/</string>
		<string>Models/</string>
		<string>Helpers/</string>
		<string>General/</string>
		<string>General/Classes/</string>
		<string>General/Categories/</string>
		<string>General/Protocols/</string>
	</array>
	<key>Identifier</key>
	<string>com.apple.dt.unit.Application</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.JWBase7.0</string>
	</array>
</dict>
</plist>
